{% extends 'security_base.html.twig' %}

{% block body %}
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">{{ application_name }}</h1>
            </div>

            <h3>Change Password.</h3>

            <form class="m-t" role="form" method="post" action="{{ path('change_password', { activationslug: activationslug }) }}">

                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password" required="">
                </div>
                <div class="form-group">
                    <input type="password" name="password2" class="form-control" placeholder="Repeat Password" required="">
                    <span class="pw-matches fa fa-check"></span>
                </div>

                <button type="submit" class="btn btn-primary block full-width m-b">Update</button>

            </form>
            <p class="m-t"> <small>{{ copyright }}</small> </p>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .pw-matches {
            color: #74cc74;
            position: relative;
            top: -25px;
            left: 130px;
        }
    </style>
{% endblock %}
{% block javascripts %}

    <!-- Register Vaidation -->
    <script>
        $(document).ready(function(){
            const pwMatches = $('.pw-matches').css("visibility", "hidden");
            $('.form-control').on('keyup', function(){
                const pw1=$('.form-control[name=password]');
                const pw2=$('.form-control[name=password2]');

                if(pw1.val() === pw2.val() && pw1.val() !== '') {
                    pwMatches.css('visibility', 'visible');
                } else {
                    pwMatches.css('visibility', 'hidden');
                }

            });
        });
    </script>
{% endblock %}

