{% extends 'security_base.html.twig' %}

    {% block body %}
        <div class="middle-box text-center loginscreen animated fadeInDown">
            <div>
                <h1 class="logo-name">{{ application_name }}</h1>

                <p>Welcome to {{ application_name }}</p>

                {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form class="m-t" role="form" method="post" action="{{ path('security_login') }}">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                    <div class="form-group">
                        <input type="email" name="email" autocomplete="email" class="form-control" placeholder="Username" required="" value="{{ lastUsername }}">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" autocomplete="password" class="form-control" placeholder="Password" required="">
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                    {#<a class="btn btn-sm btn-white" href="{{ path('register') }}">Create an account</a>#}
                    {#<a class="btn btn-sm btn-white" href="{{ path('forgot_password') }}">Forgot password</a>#}
                </form>

                <p class="m-t"> <small>{{ copyright }}</small> </p>

            </div>
        </div>
    {% endblock %}
