{% extends 'security_base.html.twig' %}

{% block body %}
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">{{ application_name }}</h1>
            </div>

            <h3>Success, Your {{ application_name }} account has been created.</h3>

            <p>Please check your inbox for an activation link.</p>

            <p class="m-t"> <small>{{ copyright }}</small> </p>
        </div>
    </div>
{% endblock %}