
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Coming Soon</title>
    <link href="{{ asset('build/landing.css') }}" rel="stylesheet" type="text/css" />

</head>
<body>
<div id="shim"></div>
<div id="content">
    <div class="logo_box">
        <h1>{{ application_name }}</h1>
    </div>
    <div class="main_box">
        <h2>This website is coming soon.<br/><span>In the mean time connect with us with the information below</span></h2>

        <p><a class="login_link" href="{{ path('security_login') }}">&lt; login &gt;</a></p>

        <ul class="info">
            <li>
                <h3>P</h3>
                <p>+44 28 2502 2603<br/>+44 7479 275386</p>
            </li>
            <li>
                <h3>A</h3>
                <p>Laneside. Plantation Road<br/>Hampshire, GU33 7QB</p>
            </li>
            <li>
                <h3>S</h3>
                <p class="social">
                    <a href="https://twitter.com/paulroon" class="tw"></a>
                    <a href="https://uk.linkedin.com/in/paulroon" class="li"></a>
                </p>
            </li>
        </ul>


        <p class="copy">{{ copyright }}</p>


    </div>
</div>

<script src="{{ asset('build/landing.js') }}"></script>

</body>
</html>
