<!DOCTYPE html>
<html>
    <head>

        <!-- Metadata -->
        {% block metadata %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% endblock %}

        <title>{% block title %}{{ application_name }}{% endblock %}</title>

        <!-- CSS -->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}

    </head>

{% block fullbody %}
<body>

{% block body %}{% endblock %}


{% block javascripts %}
    <script src="{{ asset('build/runtime.js') }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}

</body>
{% endblock %}

</html>
