{% extends 'base.html.twig' %}

{% block fullbody %}
    <body class="gray-bg">

    {% block alerts %}
        {% for type, message in app.session.flashbag.all %}
            <div class="middle-box text-center animated fadeInDown">
                <div class="alert alert-{{ type }} alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ message[0] }}
                </div>
            </div>
        {% endfor %}
    {% endblock %}

    {% block body %}{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('build/security.js') }}"></script>
    {% endblock %}

    </body>
{% endblock %}